<main class="container">

  <div style="padding: 15px">
    <button class="btn btn-lg btn-primary btn-block" type="button"> ADICIONAR ESPAÇO </button>
  </div>

  <h1 class="h5 mb-3 font-weight-normal">Restrição</h1>

  <div class="input-group mb-3">
    <select class="custom-select" id="restrictions" aria-label="Selecione a restrição na sua cidade">
        <option selected disabled>Escolha a restrição ...</option>
        <option value="Low">Baixo</option>
        <option value="Moderate">Moderado</option>
        <option value="Hight">Alto</option>
        <option value="VeryHight">Muito Alto</option>
        <option value="NotSpecified">Indefinido</option>
     </select>
  </div>

  <!--NG FOR LOOP - ACESSO hall list e activity list -->

</main>



