/*Colours*/
$btn-primary: #f5b986;
$text-color: #f8f9fa;

/*--------------------------------------------------------------
# Hero Section !! important
--------------------------------------------------------------*/
#presentation {
  width: 100%;
  height: 100vh;
  background: url("~src/assets/img/mainbg.jpg") top center;
  background-size: cover;
  position: relative;
}

@media (min-width: 1024px) {
  #presentation {
    background-attachment: fixed;
  }
}

#presentation:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#presentation .presentation-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#presentation h1 {
  margin: 30px 0 10px 0;
  font-size: 50px;
  //font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Bangers', 'arial', sans-serif;
}

@media (max-width: 768px) {
  #presentation h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#presentation h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #presentation h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#presentation .btn-call-attention {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;

  margin: 10px;
  padding: 8px 28px;
  display: inline-block;
  transition: 0.5s;

  border-radius: 50px;
  border: 2px solid $text-color;
  color: $text-color;
  background: None;
}

#presentation .btn-call-attention:hover {
  border: 2px solid $btn-primary;
  color: $btn-primary;
}
