<main class="container">
  <form
    class="form-login"
  >
    <h1 class="h3 mb-3 font-weight-normal">Simulando <br> Espaço Físico</h1>

    <h1 class="h5 mb-3 font-weight-normal">Dimensões</h1>
    <div class="input-group mb-3">
      <input type="text"
             name="width"
             class="form-control"
             placeholder="Largura" aria-label="Largura" aria-describedby="Largura-addon">
      <div class="input-group-append">
        <span class="input-group-text" id="Largura-addon">metros</span>
      </div>
    </div>
    <div class="input-group mb-3">
      <input type="text"
             name="height"
             class="form-control"
             placeholder="Profundidade" aria-label="height" aria-describedby="height-addon">
      <div class="input-group-append">
        <span class="input-group-text" id="height-addon">metros</span>
      </div>
    </div>

    <h1 class="h5 mb-3 font-weight-normal">Restrição</h1>

    <div class="input-group mb-3">
      <select class="custom-select" id="restrictions" aria-label="Selecione a restrição na sua cidade">
        <option selected disabled>Escolha a restrição ...</option>
        <option value="Low">Baixo</option>
        <option value="Moderate">Moderado</option>
        <option value="Hight">Alto</option>
        <option value="VeryHight">Muito Alto</option>
        <option value="NotSpecified">Indefinido</option>
      </select>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit"> CALCULAR ! </button>
    <div class="text-center">
      <small class="text-muted">ESSE CÁLCULO NÃO POSSUI VALOR LEGAL</small>
    </div>

  </form>

</main>



