<!-- ======= Header ======= -->
<header id="header" class="header-transparent">
  <div class="container">

    <div id="logo" class="pull-left">
      <!--<h1><a href="#hero">Regna</a></h1>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="index.html">Landing</a></li>
        <li><a href="#calcular">Calculadora</a></li>
        <li><a href="#footer">Contato</a></li>
        <li><a href="#logIn">Log-In</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- End Header -->

<router-outlet></router-outlet>

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>SEPARAE!</strong>. Todos os Direitos Reservados
    </div>
    <div class="credits" id="contatos">
      Criado por <a href="https://github.com/Vinimartinsc">Vinícius Martins</a> e
      <a href="https://github.com/filipeklinger">Filipe Klinger</a>
    </div>
  </div>
</footer><!-- End Footer -->
