<main *ngIf="!isLoggedIn">
  <form
    class="form-login"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >

    <div class="form-group">
      <label for="login">Nome de Usuário (Login)</label>
      <input
        name="login"
        id="login"
        class="form-control"
        type="text"
        [(ngModel)]="form.login"
        #login="ngModel"
        placeholder="..."
        required=""
        autofocus=""
      >
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="login.errors && f.submitted">
        Login é necessário!
      </div>
    </div>

    <div class="form-group">
      <label for="password">Senha</label>
      <input
        name="password"
        id="password"
        class="form-control"
        type="password"
        [(ngModel)]="form.password"
        #password="ngModel"
        placeholder="..."
        required=""
      >
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="password.errors && f.submitted"
      >
        <div *ngIf="password.errors.required">Senha é necessária</div>
        <div *ngIf="password.errors.minlength">
          Senha deve ter no mínimo 6 caracteres
        </div>
      </div>
    </div>


    <button class="btn btn-lg btn-primary btn-block">Entrar</button>
    <div class="form-group">
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="f.submitted && isLoginFailed"
      >
        Login falhou: {{ errorMessage }}
      </div>
    </div>
    <small class="text-muted">Não compartilhamos seus dados pessoais :]</small>

  </form>

  <p class="text-center">
    <a href="/register">
      CRIAR CONTA AGORA
    </a>
  </p>

</main>

<div *ngIf="isLoggedIn">
  <p>Usuário já autenticado</p>
  {{ redirect() }}

</div>



