<main class="">
  <form
    class="form-login"
  >

    <div class="form-group">
      <label for="login">Nome de Usuário (Login)</label>
      <input
        id="login"
        class="form-control"
        type="text"
        placeholder="..."
        required=""
        autofocus=""
      >
    </div>

    <div class="form-group">
      <label for="password">Senha</label>
      <input
        id="password"
        class="form-control"
        type="text"
        placeholder="..."
        required=""
      >
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    <small class="text-muted">Não compartilhamos seus dados pessoais :]</small>

  </form>

  <p class="text-center">
    <a href="/register">
      CRIAR CONTA AGORA
    </a>
  </p>

</main>


